{% extends 'base.html.twig' %}

{% block title %}Liste utilisateur{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/table/table.css">
{% endblock %}

{% block body %}

    <div class="container">
        <div class="center">
            <h2>Formateur en attente de validation</h2>
        </div>
        
        <div class="center">
            <table class="table table-formation">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Valider</th>
                </tr>
            </thead>
            <tbody>
            {% for user in userList %}
                <tr>
                    <td class="table-cel">{{ user.email }}</td>
                    <td>
                        <a href="{{ path('user_admin_validate', {id: user.id}) }}" class="edit"><img src="/img/edit.svg"></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    <div class="options-logout">
            <a href="{{ path('security_logout') }}" class="logout">Se deconnecter</a>
    </div>

{% endblock %}