{% extends 'base.html.twig' %}

{% block title %}Créer une section{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/form/form.css">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="form">
            <div class="center">
                <h2>Créer une Section</h2>
            </div>

            {{ form_start(form) }}

            {{ form_row(form.title, {'attr': {'placeholder': 'Tire de la section'}}) }}

            <div class="center">
                <button type="submit" class="form-btn-succes">Valider</button>
            </div>
            

            {{ form_end(form) }}
        </div>
    </div>

    

{% endblock %}